:root{
    --bgColorUm: rgba(0, 0, 0, 0.8);
    /*cor de fundo pricipal*/
    --bgColorDois: rgba(0, 0, 0, 0.9);
    /*cor de fundo usada um BOTOES ou etiquetas*/
    --bgColorDoisHover: rgba(0, 0, 0);
    /*cor de fundo usada em HOVER de BOTOES ou funcoes*/


    --sombraColor: rgba(0, 0, 0, 0.4);
    /*cor da SOMBRA usada em botoes*/
    --sombraColorHover: rgb(0, 0, 0);
    /*cor da SOMBRA em HOVER em botoes*/


    --fontPrincipal: arial;
    /*fonte usada para qulquer coisa*/

    --corFonte: rgba( 255, 255, 255, 0.77)
    /*cor fonte principa*/
    --corFonteHover: rgba( 255, 255, 255, 0.9)
    /*cor fonte HOVER*/

    --corDestaque: rgb(10, 10, 10); /*adicionar cor especifica*/
    /*cor de botoes em destaque*/
}

body{
    background-color: rgba(0, 0, 0, 0.8);
}


#principalHub{
    position: fixed;
    left: 0px;
    background-color: var(--bgColorDois);
    width: 150px;
    list-style: none;
    justify-content: center;
    justify-items: center;
    margin: 50px;
}

#principalHub nav {
    margin: 70px;
    display: contents;
    justify-content: center;
}

#principalHub li {
    box-shadow: inset 2px 2px var(--sombraColor);
}
#principalHub li :hover{
    transform: scale(1.1);
    box-shadow: inset 3px 3px var(--sombraColorHover);
}

#principalHub p{
    list-style: none;
    color: var(--corFonte);
}
#principalHub p :hover{
    color: var(--bgColorDoisHover);
    transform: scale(1.1);
}
